<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
  <link href="../../framework/framework.css" rel="stylesheet" />
  <link href="../../app.css" rel="stylesheet" />
  
  <link href="./index.css" rel="stylesheet" />
  
  <title>其他</title>
</head>

<body>
  <div id="page">
    <x-view id="components" class="page" style="display: flex; flex-direction: column;">
  <x-view class="index" style="overflow-y: auto;">
    <x-view class="index-hd">
      <x-image class="index-logo" src="../../assets/logo.png"></x-image>
      <x-view class="index-desc">以下将展示小程序生命周期钩子函数等能力
        <!-- ，具体属性参数详见<x-navigator
          url="pages/doc-web-view/doc-web-view" class="weui-agree__link">小程序开发文档</x-navigator> -->
          。</x-view>
    </x-view>
    <x-view class="index-bd">
      <x-view class="kind-list">
        <x-view v-for="item in list" v-bind:key="item.id">
          <x-view class="kind-list-item">
            <x-view v-bind:id="item.id" class="kind-list-item-hd"
              v-bind:class="item.open ? 'kind-list-item-hd-show' : ''" v-on:tap="() => { kindToggle(item.id) }">
              <x-view class="kind-list-text">{{item.name}}</x-view>
              <x-image class="kind-list-img" v-bind:src="`../../assets/${item.id}.png`"></x-image>
            </x-view>
            <x-view class="kind-list-item-bd" v-bind:class="item.open ? 'kind-list-item-bd-show' : ''">
              <x-view class="navigator-box" v-bind:class="item.open ? 'navigator-box-show' : ''">
                <x-view v-for="page in item.pages" v-bind:key="page">
                  <x-navigator v-bind:url="`/pages/others/${page.url}`" class="navigator">
                    <x-view class="navigator-text">{{page.zh}}</x-view>
                    <x-view class="navigator-arrow"></x-view>
                  </x-navigator>
                </x-view>
              </x-view>
            </x-view>
          </x-view>
        </x-view>
      </x-view>
    </x-view>
  </x-view>
</x-view>  </div>
  <script src="../../framework/vue.js"></script>
  <script src="../../framework/framework.js"></script>
  <script src="../../framework/bridge.js"></script>
  <script src="./index.js"></script>
</body>

</html>
