<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
  <link href="../../../framework/framework.css" rel="stylesheet" />
  <link href="../../../app.css" rel="stylesheet" />
  
  <link href="./index.css" rel="stylesheet" />
  
  <title>searchbar</title>
</head>

<body>
  <div id="page">
    <x-view class="page">
  <x-view class="page__hd">
    <x-view class="page__title">SearchBar</x-view>
    <x-view class="page__desc">搜索栏</x-view>
  </x-view>
  <x-view class="page__bd">
    <x-view class="weui-search-bar">
      <x-view class="weui-search-bar__form">
        <x-view class="weui-search-bar__box">
          <x-icon class="weui-icon-search_in-box" type="search" size="14"></x-icon>
          <x-input type="text" class="weui-search-bar__input" placeholder="搜索" v-bind:value="inputVal"
            v-bind:focus="inputShowed" v-on:input="inputTyping"></x-input>
          <x-view class="weui-icon-clear" v-if="inputVal.length > 0" v-on:tap="clearInput">
            <x-icon type="clear" size="14"></x-icon>
          </x-view>
        </x-view>
        <x-view class="weui-search-bar__label" v-bind:hidden="inputShowed" v-on:tap="showInput">
          <x-icon class="weui-icon-search" type="search" size="14"></x-icon>
          <x-view class="weui-search-bar__text">搜索</x-view>
        </x-view>
      </x-view>
      <x-view class="weui-search-bar__cancel-btn" v-bind:hidden="!inputShowed" v-on:tap="hideInput">取消</x-view>
    </x-view>
    <x-view class="weui-cells searchbar-result" v-if="inputVal.length > 0">
      <x-navigator url="" class="weui-cell" hover-class="weui-cell_active">
        <x-view class="weui-cell__bd">
          <x-view>实时搜索文本</x-view>
        </x-view>
      </x-navigator>
      <x-navigator url="" class="weui-cell" hover-class="weui-cell_active">
        <x-view class="weui-cell__bd">
          <x-view>实时搜索文本</x-view>
        </x-view>
      </x-navigator>
      <x-navigator url="" class="weui-cell" hover-class="weui-cell_active">
        <x-view class="weui-cell__bd">
          <x-view>实时搜索文本</x-view>
        </x-view>
      </x-navigator>
      <x-navigator url="" class="weui-cell" hover-class="weui-cell_active">
        <x-view class="weui-cell__bd">
          <x-view>实时搜索文本</x-view>
        </x-view>
      </x-navigator>
    </x-view>
  </x-view>
</x-view>  </div>
  <script src="../../../framework/vue.js"></script>
  <script src="../../../framework/framework.js"></script>
  <script src="../../../framework/bridge.js"></script>
  <script src="./index.js"></script>
</body>

</html>
