<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
  <link href="../../../framework/framework.css" rel="stylesheet" />
  <link href="../../../app.css" rel="stylesheet" />
  
  <link href="./index.css" rel="stylesheet" />
  
  <title>icon</title>
</head>

<body>
  <div id="page">
    <x-view id="icon" class="page">

  <x-view class="container">
    <x-view class="page-head">
      <x-view class="page-head-title">icon</x-view>
      <x-view class="page-head-line"></x-view>
      <x-view class="page-head-desc"></x-view>

    </x-view>

    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="success" size="93"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">成功</x-view>
        <x-view class="icon-box-desc">用于表示操作顺利完成</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="info" size="93"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">提示</x-view>
        <x-view class="icon-box-desc">用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="warn" size="93" color="#C9C9C9"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">普通警告</x-view>
        <x-view class="icon-box-desc">用于表示操作后将引起一定后果的情况；也用于表示由于系统原因而造成的负向结果</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="warn" size="93"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">强烈警告</x-view>
        <x-view class="icon-box-desc">用于表示由于用户原因造成的负向结果；也用于表示操作后将引起不可挽回的严重后果的情况</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="waiting" size="93"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">等待</x-view>
        <x-view class="icon-box-desc">用于表示等待，告知用户结果需等待</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="success_no_circle" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">多选控件图标_已选择</x-view>
        <x-view class="icon-box-desc">用于多选控件中，表示已选择该项目</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="circle" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">多选控件图标_未选择</x-view>
        <x-view class="icon-box-desc">用于多选控件中，表示该项目可被选择，但还未选择</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="warn" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">错误提示</x-view>
        <x-view class="icon-box-desc">用于在表单中表示出现错误</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="success" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">单选控件图标_已选择</x-view>
        <x-view class="icon-box-desc">用于单选控件中，表示已选择该项目</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="download" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">下载</x-view>
        <x-view class="icon-box-desc">用于表示可下载</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="info_circle" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">提示</x-view>
        <x-view class="icon-box-desc">用于在表单中表示有信息提示</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="cancel" size="23"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">停止或关闭</x-view>
        <x-view class="icon-box-desc">用于在表单中，表示关闭或停止</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-view class="icon-small-wrp">
        <x-icon class="icon-small" type="search" size="14"></x-icon>
      </x-view>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">搜索</x-view>
        <x-view class="icon-box-desc">用于搜索控件中，表示可搜索</x-view>
      </x-view>
    </x-view>
    <x-view class="icon-box">
      <x-icon class="icon-box-img" type="success" size="93" color="red"></x-icon>
      <x-view class="icon-box-ctn">
        <x-view class="icon-box-title">自定义颜色</x-view>
        <x-view class="icon-box-desc">使用自定义颜色</x-view>
      </x-view>
    </x-view>
    <x-navigator class="page-foot" open-type="switchTab" url="/pages/components/index" hover-class="none">
      <x-image class="icon-foot" src="../../../assets/icon_foot.png"></x-image>
    </x-navigator>
  </x-view>
</x-view>  </div>
  <script src="../../../framework/vue.js"></script>
  <script src="../../../framework/framework.js"></script>
  <script src="../../../framework/bridge.js"></script>
  <script src="./index.js"></script>
</body>

</html>
